// Posts
// *------------------------------------------------*
.mobile-view {
    #topic-progress {
        display: none;
    }
}

// Avatars
// *------------------------------------------------*

.topic-list td div.pull-left a {
    display: none;
}
.topic-list td div.right {
    margin-left: 0px;
}

// Topic list
// *------------------------------------------------*
// Hide selection menu

.navigation-controls > button:nth-child(1) {
    display: none;
}

.topic-list .num.posts-map {
    font-size: unset;
}
