// Solid Borders
// *------------------------------------------------*

.d-header {
    box-shadow: none;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}
.d-header {
    box-shadow: none;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}

.topic-list-item,
tr {
    border-bottom: 1px solid #000;
}

.topic-list .posters {
    display: none;
}

.topic-list .views {
    display: none;
}

.topic-list .age {
    display: none;
}

.topic-list .num .badge-posts {
    font-weight: unset;
}

.topic-list .heatmap-high {
    font-weight: unset;
}

.topic-list .posts {
    font-size: unset;
    width: unset;
}

#create-topic {
    background: var(--secondary);
    color: var(--primary);
    border: 1px solid var(--primary-medium);
    border-radius: 0px;
}

#create-topic .fa {
    color: #000;
}

.topic-list > tbody > tr:first-of-type {
    border-bottom-color: #000;
}

tbody {
    border-top: none;
}

.nav-pills > li a.active {
    border-bottom: 4px solid #000;
}

.nav-pills > li a.active:hover {
    border-bottom: 4px solid #000;
}

.nav-pills > li > a:hover {
    border-bottom: 4px solid #000;
}

.table-heading {
    border-bottom: 1px solid #000;
}

.latest-topic-list-item {
    border-bottom: 1px solid #000;
}

.has-full-page-chat:not(.discourse-sidebar) .full-page-chat {
    border-right: none;
    border-left: none;
}

.chat-message-separator-date
    + .chat-message-separator__line-container
    .chat-message-separator__line {
    border-top: 1px solid #000;
}

.full-page-chat .chat-full-page-header {
    border-top: none;
    border-bottom: 1px solid #000;
}

.chat-composer__wrapper {
    background-color: #fff;
}

.chat-composer__inner-container {
    border: 1px solid #000;
}

.c-routes-channel-threads {
    border-left: 1px solid #000;
}

.topic-list-item,
tr {
    border-bottom: 1px solid #000;
}

#create-topic {
    background: var(--secondary);
    color: var(--primary);
    border: 1px solid var(--primary-medium);
    border-radius: 0px;
}

#create-topic .fa {
    color: #000;
}

.topic-list > tbody > tr:first-of-type {
    border-bottom-color: #000;
}

tbody {
    border-top: none;
}

.nav-pills > li a.active {
    border-bottom: 4px solid #000;
}

.nav-pills > li a.active:hover {
    border-bottom: 4px solid #000;
}

.nav-pills > li > a:hover {
    border-bottom: 4px solid #000;
}

.table-heading {
    border-bottom: 1px solid #000;
}

.latest-topic-list-item {
    border-bottom: 1px solid #000;
}

.has-full-page-chat:not(.discourse-sidebar) .full-page-chat {
    border-right: none;
    border-left: none;
}

.chat-message-separator-date
    + .chat-message-separator__line-container
    .chat-message-separator__line {
    border-top: 1px solid #000;
}

.full-page-chat .chat-full-page-header {
    border-top: none;
    border-bottom: 1px solid #000;
}

.chat-composer__wrapper {
    background-color: #fff;
}

.chat-composer__inner-container {
    border: 1px solid #000;
}

.c-routes-channel-threads {
    border-left: 1px solid #000;
}

// Posts
// *------------------------------------------------*
.post-notice {
    background-color: #fff;
}

// Topic list
// *------------------------------------------------*
// Hide all avatars

.poster-avatar {
    display: none;
}

th.topic-list-data {
    display: none;
}

th.topic-list-data {
    display: none;
}

.topic-list-bottom {
    display: none;
}

// Category list
// *------------------------------------------------*
// Hide all avatars

div.topic-poster img.avatar {
    display: none;
}

div.latest-topic-list-item {
    padding-left: 5px;
    padding-right: 5px;
}

div.latest-topic-list-item div.topic-poster {
    width: 0;
}

// Pined Banner
// *------------------------------------------------*
// Make full banner

#banner {
    max-height: 100vh;
}

// Login Page
// *------------------------------------------------*
// Hide description

.login-welcome__description {
    display: none;
}

// TOS and FAQ
// *------------------------------------------------*

li.nav-item-tos {
    display: none;
}

li.nav-item-faq {
    display: none;
}
